# This workflow will install dependencies, check for dependency version consistency, build all packages in the repo, and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: iTwin Viewer monorepo CI

on:
  pull_request:
    branches: ["next"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          set -e
          echo 'Installing...'
          node common/scripts/install-run-rush.js install

          echo 'Verifying Dependency Versions...'
          node common/scripts/install-run-rush.js check

          echo 'Building...'
          node common/scripts/install-run-rush.js build

          echo 'Testing...'
          node common/scripts/install-run-rush.js test --verbose

          echo 'Auditing...'
          node common/scripts/install-run-rush.js audit
